<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Vacunas de Mascotas</title>
</head>
<body>
    <h1>Gestión de Vacunas de Mascotas</h1>
    <a href="{{ url_for('main.nueva_mascota')}}">Añadir nueva mascota</a>
    <ul>
        {% for mascota in mascotas %}
            <li>
                {{ mascota.nombre }} ({{ mascota.raza }}) - <a href="{{ url_for('main.nueva_vacuna', mascota_id=mascota.id)}}">Añadir Vacuna</a>
            </li>
        {% endfor %}
    </ul>    
</body>
</html>