<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Mascota</title>
</head>
<body>
    <h1>Nueva Mascota</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.nombre.label }} {{ form.nombre() }}<br>
        {{ form.raza.label }} {{form.raza() }}<br>
        {{ form.fecha_nacimiento.label }} {{ form.fecha_nacimiento() }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('main.index')}}">Volver</a>
</body>
</html>