<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Vacuna</title>
</head>
<body>
    <h1>Nueva Vacuna</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.tipo.label }} {{ form.tipo()}}<br>
        {{ form.fecha_administracion.label }} {{ form.fecha_administracion() }}<br>
        {{ form.fecha_proxima_dosis.label }} {{ form.fecha_proxima_dosis() }}<br>
        {{ form.submit() }}
    </form>
   
    <a href="{{ url_for('main.index') }}">Volver</a> 
</body>
</html>