{% extends "base.html" %}
{% block title %}Perfil de {{ dog.name | upper }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <h3 class="text-center my-4">Medicamentos para <span class="dog-name"> {{dog.name | upper}} </span></h3>
        <h5 class="text-center my-4" style="color: rgb(7, 42, 117); font-style: italic;">Para ver la línea del tiempo de cada medicación debes pinchar en la tarjeta correspondiente.</h5>
        <p class="text-center mt-4">
            ¿No encuentras la medicación que estás buscando? 
            <a href="{{ url_for('add_medication', dog_id=dog.id) }}" style="text-decoration: underline; color: #007bff; font-weight: bold;">¡Haz clic aquí para añadir una nueva medicación!</a>
        </p>    
    </div>

    {% if medications %}
        {% for medication in medications %}
            <div class="col-md-4 mb-4">
                <!-- Enlace que envuelve la tarjeta completa -->
                <a href="{{ url_for('medication_profile', medication_id=medication.id) }}" style="text-decoration: none; color: inherit;">

                <div class="card" style="background-color: #f7feffe6;">
                    <div class="card-body" style="padding: 13px;">
                        <img src="{{ url_for('static', filename='img/medicament.png') }}" alt="Ícono de Medicamento" style="height: 28px; width: 28px; vertical-align: middle; margin-right: 5px;">
                        <span class="badge badge-info mt-3" style="font-size: 13px;">Medicación</span> 
                        <span style="float: right; font-size: 34px; padding-top: 10px; padding-right: 10px;">📊</span>
                        <h5 class="card-title" style="margin-top: 12px;">{{ medication.name }}</h5>
                        <p class="card-text">
                            <strong>Fecha de inicio:</strong> {{ medication.date_start }}<br>
                            <strong>Fecha de Fin:</strong> {{ medication.date_end }}<br>
                            <strong>Dosis por día:</strong> {{ medication.doses_per_day }}<br>
                            <strong>Hora de la primera dosis:</strong> {{ medication.time_of_first_dose }}<br>
                            <strong>Intervalo entre dosis(en horas):</strong> {{ medication.interval_hours }}<br>
                            <strong>Notas:</strong> {{ medication.notes }}
                        </p>
                        <!-- Botones para editar o eliminar -->
                        <div class="mt-3">
                            <a href="{{ url_for('update_medication', medication_id=medication.id) }}" class="btn btn-warning btn-lg" style="font-size: 17px; padding: 7px 15px;">Editar</a>
                            <form action="{{ url_for('delete_medication', medication_id=medication.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-lg" style="font-size: 17px; padding: 7px 15px; margin-bottom: 0px;">Eliminar</button>
                            </form>
                        </div>                        
                    </div>
                </div>  
                </a>              
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center my-4">No se han registrado medicamentos para  perro.</p>
        </div>
    {% endif %}

    <!-- Botón de Atrás -->
    <div class="col-12 mt-4">
        <a href="{{ url_for('dog_profile', dog_id=dog.id) }}" class="btn btn-secondary" style="text-decoration: none; color: white; padding: 10px 20px; background-color: black; border-radius: 5px;">Atrás</a>
    </div>

   
</div>


<!-- Incluir el archivo CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_medication.css') }}">


{% endblock %}
